.contenido-chico{
    margin: 0 auto;
    padding: 0;
    background-position: center;
    width: 500px;    
}

.chico{
    width:200px;
}

.contenido-mediano{
    margin: 0 auto;
    padding: 0;
    background-position: center;
    width: 1000px;    
}

.caja{
    border-radius: 64px 64px 64px 64px;
    -moz-border-radius: 64px 64px 64px 64px;
    -webkit-border-radius: 64px 64px 64px 64px;
    border: 8px ridge #1f30cf;
}

.caja-sombreada{
    height: 300px;
    border: #F11712;
    -webkit-box-shadow: 20px 14px 3px -6px rgba(74,48,74,1);
    -moz-box-shadow: 20px 14px 3px -6px rgba(74,48,74,1);
    box-shadow: 20px 14px 3px -6px rgba(74,48,74,1);
}

.caja-con-sombra{
    border-radius: 73px 73px 73px 73px;
    -moz-border-radius: 73px 73px 73px 73px;
    -webkit-border-radius: 73px 73px 73px 73px;
    border: 10px dashed #44243f;
}

.contenido-grande{
    margin: 0 auto;
    padding: 0;
    background-position: center;
    width: 1200px;
}

.fondo-azul-obscuro{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fondo-colorido{    
    background: rgba(255,112,46,1);
    background: -moz-linear-gradient(left, rgba(255,112,46,1) 0%, rgba(184,35,62,1) 20%, rgba(0,60,255,1) 49%, rgba(14,198,201,1) 75%, rgba(23,219,114,1) 88%, rgba(31,239,34,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,112,46,1)), color-stop(20%, rgba(184,35,62,1)), color-stop(49%, rgba(0,60,255,1)), color-stop(75%, rgba(14,198,201,1)), color-stop(88%, rgba(23,219,114,1)), color-stop(100%, rgba(31,239,34,1)));
    background: -webkit-linear-gradient(left, rgba(255,112,46,1) 0%, rgba(184,35,62,1) 20%, rgba(0,60,255,1) 49%, rgba(14,198,201,1) 75%, rgba(23,219,114,1) 88%, rgba(31,239,34,1) 100%);
    background: -o-linear-gradient(left, rgba(255,112,46,1) 0%, rgba(184,35,62,1) 20%, rgba(0,60,255,1) 49%, rgba(14,198,201,1) 75%, rgba(23,219,114,1) 88%, rgba(31,239,34,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,112,46,1) 0%, rgba(184,35,62,1) 20%, rgba(0,60,255,1) 49%, rgba(14,198,201,1) 75%, rgba(23,219,114,1) 88%, rgba(31,239,34,1) 100%);
    background: linear-gradient(to right, rgba(255,112,46,1) 0%, rgba(184,35,62,1) 20%, rgba(0,60,255,1) 49%, rgba(14,198,201,1) 75%, rgba(23,219,114,1) 88%, rgba(31,239,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff702e', endColorstr='#1fef22', GradientType=1 );    
}

.fondo-azulado{
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fondo-petroleo{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.fondo-superman{
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.fondo-azul-claro{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mar{
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-size: 110px 200px;
    background-repeat: repeat-x;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    background-color: #F11712;
    color: #1f30cf;
}

.box{
    background-color: #48B;
    color:  #F11712;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height: 50vh;
}
.task{
    background-color: #CDD800;
    color: black;
    padding: 5px;
    margin: 4px;
}